# --------------------
# OSX Files
# --------------------
.DS_Store

# --------------------
# Sublime Text Files
# --------------------
*.sublime-project
*.sublime-workspace

# --------------------
# Project Files
# --------------------
_site/
node_modules/
build/